# Build artifacts
/build
/dist
__pycache__

# Generated artifacts
*.py[cod]
*.egg-info
.*cache*
.idea

# OS-specific files
.DS_Store

# Unit test / coverage reports
.coverage
.htmlcov
.nox

# Virtualenv directories
[v]env
.[v]env

# Sphinx documentation build artifacts
/docs/_build
.doctrees
