*.py[cod]

.DS_Store

# Build artifacts
/*.egg
/*.egg-info
/dist
/build
/eggs
/sdist
/develop-eggs
/.sass-cache
/.cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.htmlcov
.tox

# Translations
*.mo

# Sphinx
docs/_build
