include README.rst AUTHORS NEWS LICENSE NEWS.rst

include entry-points.ini
include requirements.txt

exclude .coveragerc pytest.ini
exclude CONTRIBUTING.rst
exclude requirements-dev.txt requirements-testing.txt
exclude fabfile.py
prune fabtasks

graft docs
prune docs/_build
