-r requirements-testing.txt

# Automation
Fabric

# Packaging
wheel
check-manifest

# Code linting
flake8
mccabe
pep8>=1.7,<1.8
pyflakes

# Documentation
Jinja2==2.10.1
MarkupSafe==1.1.1
Pygments==2.4.1
Sphinx==2.0.1
docutils==0.14
