-r requirements-testing.txt

# Automation
Fabric

# Packaging
wheel

# Code linting
flake8
mccabe
pep8>=1.7,<1.8
pyflakes

# Documentation
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.1.2
Sphinx==1.3.6
docutils==0.12
